/* Print */

@media print {
  @page {
    size: 8.5in 11in;
    margin: 0;
  }

  html, body {
      background: #fff;
      margin: 0;
      padding: 0;
  }

  .paper, main.paper {
    margin: 0;
    width: 215.9mm;
    height: 279.4mm;
    overflow: hidden;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    page-break-after: always;
  }

  a {
    text-decoration: none;
  }

  footer {
    display: none;
  }
}